.loginPage {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  justify-content: center;
}

.components {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  opacity: unset;
}

.circle {
  grid-column: 1;
  grid-row: 1;
  border-radius: 50%;
  z-index: -10;
  animation-name: login;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}

.outerCircle {
  width: 130vw;
  height: 130vw;
  animation-delay: 0.3s;
}

.middleCircle {
  width: 115vw;
  height: 115vw;
  animation-delay: 0.2s;
}

.innerCircle {
  width: 100vw;
  height: 100vw;
  animation-delay: 0.1s;
}

@keyframes login {
  from {
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 0.03;
    background-color: #c4c4c4;
  }
}
