.page {
  composes: page from global;
}

.emptypage {
  composes: emptypage from global;
}

.collectionpage {
  composes: collectionpage from global;
}

.searchError {
  display: grid;
  text-align: center;
  height: 17rem;
  place-items: center;
  align-content: center;
}
