.defaultSubmit,
.defaultReset {
  display: none;
}

.submitButton {
  transform: translateX(-2rem);
  margin-top: 0.3rem;
  position: absolute;
  cursor: pointer;
}

.deleteButton {
  transform: translateX(0.5rem);
  margin-top: 0.35rem;
  position: absolute;
  cursor: pointer;
}

.textInput {
  width: 90%;
  padding: 0.3rem;
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: var(--color-secondary);
  font-family: var(--font-family);
  font-weight: var(--font-weight-placeholder);
  color: var(--color-secondary);
  text-align: center;
  background-color: transparent;
}

.textInput::placeholder {
  text-align: center;
  font-size: var(--font-size-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight-placeholder);
  color: var(--color-secondary);
  opacity: 0.5;
}

.textInput:focus {
  outline: none;
}

.form {
  width: 100%;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
