.navigation {
  background-color: var(--color-navbar);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: 3.75rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
