.loginButton {
  border: 2px solid;
  background-color: transparent;
  color: var(--color-cta);
  border-radius: var(--border-radius);
  padding: 0.4em 0.7em;
  font-weight: var(--font-weight-heading);
  text-decoration: none;
}

.loginButton:hover {
  background-color: var(--color-cta);
  color: #fff;
  border: 2px solid;
  border-color: var(--color-cta);
}
