.page {
  composes: page from global;
}

.emptypage {
  composes: emptypage from global;
}

.collectionpage {
  composes: collectionpage from global;
}

.searchCards {
  width: 100%;
  height: 100%;
  padding-top: 0.75rem;
  display: grid;
  row-gap: 1rem;
  place-items: center;
}

.toggleInput {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 0.25rem 1fr;
  place-items: center;
}

.categoryButton {
  background: transparent;
  border: none;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 3rem;
}

.categoryActive {
  color: var(--color-primary);
}

.categoryInactive {
  color: var(--color-text);
}

.cover {
  height: 14.4rem;
  width: 14.4rem;
  border-radius: var(--border-radius);
}

.searchRecordsIcon {
  height: 50%;
  width: 50%;
  margin-top: 3rem;
  opacity: 0.5;
}
