@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 375px;
  max-height: 667px;
  margin: 0 auto;
  font-family: Outfit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
  color: var(--color-primary);
  margin: 0;
  padding-right: 2.5rem;
}

h2 {
  font-size: var(--font-weight-subheading);
  font-weight: var(--font-weight-subheading);
  color: var(--color-secondary);
  margin: 0;
}

h3,
h4 {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-subheading);
  color: var(--color-text);
  margin: 0;
}

p {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--color-text);
}

:root {
  --border-radius: 0.5rem;
  --color-primary: #fd9f59;
  --color-secondary: #fbd2a2;
  --color-tertiary: #fa683c;
  --color-text: #fde9d3;
  --color-cta: #6ca799;
  --color-background: #111;
  --color-card: #222;
  --color-navbar: #221a21;
  --font-size-heading: 1.5rem;
  --font-size-text: 1rem;
  --font-weight-heading: 800;
  --font-weight-subheading: 700;
  --font-weight-placeholder: 600;
  --font-weight-text: 400;
  --font-family: 'Outfit';
}
