.searchCard {
  width: 90%;
  height: 6rem;
  display: grid;
  grid-template-columns: 6rem 1fr;
  column-gap: 1rem;
  background-color: var(--color-card);
  border-radius: var(--border-radius);
}

.albumCover {
  height: 6rem;
  width: 6rem;
  border-radius: var(--border-radius);
}

.albumInfo {
  display: grid;
  height: 100%;
  align-content: center;
}
